server:
  host: 0.0.0.0:9528

log:
  level: debug
  filepath: "dev.log"

storage:
  #pg
  #backend: "postgres"
  #conn: "host=127.0.0.1 port=5432 user=clock dbname=clock password=clock sslmode=disable"

  # sqlite
  backend: "sqlite3"
  conn: "clock.db"

  # mysql
#  backend: "mysql"
#  conn: "root:root@tcp(127.0.0.1:3306)/clock?charset=utf8&parseTime=True&loc=Local"

login:
  user: "admin"
  pwd: "admin"
  jwt: "helloClock$"

message:
  size: 1000